.topMenu{
    width: 100%;
    height: 50px;
    background-color: #3c3c3c;
    text-align: center;
    overflow: hidden;
}

.topMenu table{
    margin: auto;
    text-align: center;
    width: 80%;
}
.topMenu tr{

    color: rgb(220,220,220);
    line-height: 40px;
}
.topMenu td{

}

.topMenu a{
    text-decoration: none;
    color: rgb(220,220,220);
}

.topMenu a:hover{
    color: white;
    text-decoration: underline;
}

.topMenu img{
    float: left;
    margin-top: 10px;
    margin-left: 30%;
    width: 20px;
}

.topMenu #mySidebar{
    display: block;
    line-height: 40px;
    padding-left: 5px;
    width: 100%;
    color: RoyalBlue;
    text-decoration: none;
}

.topMenu #mySidebar a{
    color: black;
}