<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlybl.mapper.BookMapper">

    <!--书籍全查-->
    <select id="selectAllBook" resultType="Book">
        select * from book
    </select>

    <!--书籍可选择条件查询-->
    <select id="selectBooksByConditions" resultType="Book">
        SELECT * FROM book WHERE (book_name like CONCAT('%',#{bookName},'%') OR #{bookName}='' OR #{bookName} is null)
                             AND (author like CONCAT('%',#{author},'%') OR #{author}='' OR #{author} is null)
                             AND (book_cover like CONCAT('%',#{bookCover},'%') OR #{bookCover} is null)
                             AND (book_status like CONCAT('%',#{bookStatus},'%') OR #{bookStatus} is null)
                             AND (press like CONCAT('%',#{press},'%') OR #{press}='' OR #{press} is null)
                             AND (book_class like CONCAT('%',#{bookClass},'%') OR #{bookClass}='' OR #{bookClass} is null)
    </select>

    <!--通过id查找书籍-->
    <select id="selectBookByBookId" resultType="Book">
        select * from book where book_id=#{bookId}
    </select>

    <!--增加书籍-->
    <insert id="addBook">
        insert into book(book_cover,book_name,author,press,book_class,book_status) values (#{bookCover},#{bookName},#{author},#{press},#{bookClass},#{bookStatus})
    </insert>
    
    <!--修改书籍-->
    <update id="updateBook">
        update book set book_cover=#{bookCover},book_name=#{bookName},author=#{author},press=#{press},book_class=#{bookClass},book_status=#{bookStatus}
                    where book_id=#{bookId}
    </update>
    
    <!--删除书籍-->
    <delete id="deleteBook">
        delete from book where book_id=#{bookId}
    </delete>

    <!--查询用户未还的书-->
    <select id="selectBorrowedBook" resultType="book">
        select * from book where book_status = false and book_id in (select book_id from history where user_id = #{userId})
    </select>
</mapper>