<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlybl.mapper.UserMapper">
<!--    查询所有用户-->
    <select id="selectAllUser" resultType="User">
        select * from user
    </select>

    <!--根据id查询单个用户-->
    <select id="selectUserByUserId" resultType="User">
        SELECT * FROM user WHERE user_id=#{userId}
    </select>

    <!--用户登录-->
    <select id="userLoginCheck" resultType="User">
        select * from user where user_id=#{userId} and user_password=#{userPassword}
    </select>

    <!--查询最后一个用户的id-->
    <select id="selectLastUserId" resultType="int">
        select user_id from `user` order by user_id desc limit 1
    </select>

    <!--添加用户-->
    <insert id="addUser">
        insert into user (user_id,user_name,user_password) values (#{userId},#{userName},#{userPassword})
    </insert>

    <!--修改用户信息,仅在用户界面可以修改。所以直接传参用户对象-->
    <update id="updateUser">
        update user set user_name=#{userName},user_password=#{userPassword} where user_id=#{userId}
    </update>

    <!--根据id删除用户-->
    <delete id="deleteUser">
        delete from user where user_id=#{userId}
    </delete>
</mapper>