<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlybl.mapper.UserMapper">
<!--    查询所有用户-->
    <select id="selectAllUser" resultType="User">
        select * from user
    </select>

    <!--根据多个条件:用户名或密码查询一组用户-->
    <select id="selectUsersByConditions" resultType="User">
        SELECT * FROM user WHERE (user_name like CONCAT('%',#{userName},'%') OR CONCAT('%',#{userName},'%')='')
                             AND (user_password like CONCAT('%',#{userPassword},'%') OR CONCAT('%',#{userPassword},'%')='')
    </select>

<!--    根据多个条件：用户名或密码查询单个用户-->
    <select id="selectUserByConditions" resultType="User">
        SELECT * FROM user WHERE (user_name like CONCAT('%',#{userName},'%') OR CONCAT('%',#{userName},'%')='')
                             AND (user_password like CONCAT('%',#{userPassword},'%') OR CONCAT('%',#{userPassword},'%')='')
    </select>
<!--添加用户-->
    <insert id="addUser">
        insert into user (user_id,user_name,user)password values (#{userId},#{userName},#{userPassword})
    </insert>

    <!--修改用户信息,仅在用户界面可以修改。所以直接传参用户对象-->
    <update id="updateUser">
        update user set user_name=#{userName},user_password=#{userPassword} where user_id=#{userId}
    </update>

    <!--根据id删除用户-->
    <delete id="deleteUser">
        delete from book where user_id=#{userId}
    </delete>
</mapper>